---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
// import data from "../assets/images/datavisualisering.svg";
// import køn from "../assets/images/køn.svg";
---

<MainLayout title="Titel">
  <section class="mx-auto max-w-max my-10">
    <h1 class="text-5xl mb-10">Datavisualisering</h1>
    <article class="grid gap-5">
      <p class="prose">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        voluptatem placeat nostrum, incidunt harum repudiandae rem ratione velit
        consequuntur, quidem deserunt reiciendis provident eligendi veritatis
        reprehenderit cumque sunt ipsa quisquam.
      </p>
      <div class="uppercase flex flex-row gap-3 items-center">
        <p class="text-2xl">Gennemsnitslønnen for</p>
        <!-- <div><Image src={køn} alt="Køn tegnene" /></div> -->
        <p class="text-2xl">i 2021</p>
      </div>
      <!-- <Image src={data} alt="data over gennemsnitslønnen i danmark i 2021" /> -->
      <p class="prose">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        voluptatem placeat nostrum, incidunt harum repudiandae rem ratione velit
        consequuntur, quidem deserunt reiciendis provident eligendi veritatis
        reprehenderit cumque sunt ipsa quisquam.
      </p>
    </article>
  </section>
</MainLayout>
